* {
  margin: 0; 
  padding: 0; 
  box-sizing: border-box;
  border: 1px solid red;
  font-family: "Outfit", sans-serif;
}

body {
  min-height: 100vh; 
  width: 100vw; 
  display: flex; 
  justify-content: center; 
  align-items: center; 
}

.grid-container {
  width: 80%;
  display: grid; 
  justify-content: center; 
}

.member-image {
  height: 100%; 
  width: 100%; 
}

/* Desktop */
@media screen and (min-width: 1025px) {
  .grid-container {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr 1fr;
  }

  #description {
    grid-column: 1/3;
  }
}

/* Tablet */
@media screen and (max-width: 1024px) and (min-width: 641px) {

  .grid-container {
    grid-template-columns: 1fr 1fr 1fr; 
    grid-template-rows: 1fr 1fr; 
  }

  #description {
    grid-column: 1/4; 
  }
}

/* Mobile */
@media screen and (max-width: 640px) {
  .grid-container {
    grid-template-columns: 1fr; 
    grid-row: auto; 
  }
}

